<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>cadastro</title>
</head>
<body>
    <div class="bg-img"> </div>
        <form action="/cadastrar" class="container">
          <h1>Cadastro</h1>
      
          <label for="email"><b>Nick</b></label>
          <input type="text" placeholder="Nick" name="nick" required>
      
          <label for="senha"><b>Senha</b></label>
          <input type="password" placeholder="Senha" name="senha" required>
      
          <button type="submit" class="btn">cadastrar</button>
        </form>
     
</body>
</html>